.topbar, .dashboard {
  display: none;
}
.wrapper {
  width: auto;
}
.content-main {
  width: auto;
  float: none;
}
.AppContent {
  padding: 8px;
}
.modal {
  position: static;
  margin: 40px auto;
}
