hr,
.footer,
.promo,
#top-stuff,
.your-activity,
.tweet-activity,
.trends-inner,
.geo-control,
.tweet-box-title,
.stream-tab-home,
.stream-tab-mentions,
.stream-tab-retweets,
.stream-tab-searches,
div.user-rec-inner {
  display: none;
}

.main-tweet-box {
  padding: 15px 0 0 0;
}

.component {
  margin: 0;
}

#page-outer {
  padding-top: 20px !important;
}

.stream-tabs {
  margin: -20px 0 0 0
}

/* homepage */

body#front {
  background: #246;
}

#topnav {
  width: auto;
  position: static;
  text-align: left;
}

#signin-c {
  display: block;
  position: static;
}

#signin_menu {
  left: auto;
  position: static;
  margin: 80px auto;
}

#signin_controls {
  top: auto;
  position: static;
}

.background .inner {
  position: static;
}

.background {
  background: none;
}

#logo-search,
#have_an_account,
.overlay,
#trends,
#accessibility,
.content-wrapper .homepage,
.footer-wrapper {
  display: none;
}